@import "tailwindcss/preflight";
@tailwind utilities;

body {
  background-color: #f3f4f6;
  color: #1f2937;
}

/* Toggle Switch Styles */
.toggle-checkbox:checked {
  right: 0;
  border-color: #10B981;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #10B981;
}
.toggle-checkbox {
  right: 0;
  z-index: 1;
  border-color: #e5e7eb;
  transition: all 0.3s;
}
.toggle-label {
  width: 3rem;
  height: 1.5rem;
  background-color: #e5e7eb;
  border-radius: 9999px;
  transition: all 0.3s;
}